
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5.2% 95.3%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 94%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 38 92% 50%;
    --chart-4: 300 80% 60%;
    --chart-5: 50 90% 55%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 40% 98%;
    --chart-1: 210 40% 98%;
    --chart-2: 142.1 70.6% 40.3%;
    --chart-3: 38 89.6% 50.4%;
    --chart-4: 300 75.4% 60.8%;
    --chart-5: 50 85.5% 55.3%;
  }

  .zinc { --primary: 222.2 47.4% 11.2%; --ring: 222.2 84% 4.9%; --chart-1: 222.2 47.4% 11.2%;}
  .red { --primary: 0 72.2% 50.6%; --ring: 0 72.2% 50.6%; --chart-1: 0 72.2% 50.6%; }
  .green { --primary: 142.1 76.2% 36.3%; --ring: 142.1 76.2% 36.3%; --chart-1: 142.1 76.2% 36.3%; }
  .blue { --primary: 221.2 83.2% 53.3%; --ring: 221.2 83.2% 53.3%; --chart-1: 221.2 83.2% 53.3%; }
  .orange { --primary: 24.6 95% 53.1%; --ring: 24.6 95% 53.1%; --chart-1: 24.6 95% 53.1%; }
  .purple { --primary: 262.1 83.3% 57.8%; --ring: 262.1 83.3% 57.8%; --chart-1: 262.1 83.3% 57.8%; }
  .yellow { --primary: 47.9 95.8% 53.1%; --ring: 47.9 95.8% 53.1%; --chart-1: 47.9 95.8% 53.1%; }
  .cyan { --primary: 180 82.4% 42.9%; --ring: 180 82.4% 42.9%; --chart-1: 180 82.4% 42.9%; }
  .pink { --primary: 322.4 82.9% 55.1%; --ring: 322.4 82.9% 55.1%; --chart-1: 322.4 82.9% 55.1%; }

  .dark.zinc { --primary: 210 40% 98%; --ring: 210 40% 98%; --chart-1: 210 40% 98%; }
  .dark.red { --primary: 0 62.8% 30.6%; --ring: 0 62.8% 30.6%; --chart-1: 0 62.8% 30.6%; }
  .dark.green { --primary: 142.1 70.6% 40.3%; --ring: 142.1 70.6% 40.3%; --chart-1: 142.1 70.6% 40.3%; }
  .dark.blue { --primary: 217.2 91.2% 59.8%; --ring: 217.2 91.2% 59.8%; --chart-1: 217.2 91.2% 59.8%; }
  .dark.orange { --primary: 20.5 90.2% 48.2%; --ring: 20.5 90.2% 48.2%; --chart-1: 20.5 90.2% 48.2%; }
  .dark.purple { --primary: 263.4 70% 50.4%; --ring: 263.4 70% 50.4%; --chart-1: 263.4 70% 50.4%; }
  .dark.yellow { --primary: 47.9 91.2% 59.8%; --ring: 47.9 91.2% 59.8%; --chart-1: 47.9 91.2% 59.8%; }
  .dark.cyan { --primary: 180 75.3% 50.4%; --ring: 180 75.3% 50.4%; --chart-1: 180 75.3% 50.4%; }
  .dark.pink { --primary: 322.4 70% 50.4%; --ring: 322.4 70% 50.4%; --chart-1: 322.4 70% 50.4%; }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
